h1 {color: #d22e3a}

 .grey {
  background: #E5E4E2;
 }

 .green {
  background: #C3FBD8;
 }

 .light_grey {
  background: #E6E6FA;
 }

 .yellow {
  background: #FFFADD;
 }

 .red {
  background: #FF8C69;
 }